<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            How do I add <%=locals.service.name%> to my DfE account?
        </h1>

        <% if (locals.service.relyingParty && locals.service.relyingParty.params && locals.service.relyingParty.params.customAccessServiceMessage) { %>
            <%- locals.service.relyingParty.params.customAccessServiceMessage %>
        <% } else { %>
        <p>An approver at your organisation will be able to provide you with access to <%=locals.service.name%>.</p>
        <p>Services added to your account are listed on your DfE Sign-in <a href="<%=locals.urls.services%>/my-services">Services</a> page.</p>
        <p>If you are an approver you can add services to your own account and a user's account within your organisation by selecting the user from <a href="<%=locals.urls.services%>/approvals/users">Manage users</a> followed by add services.</p>

        <h2 class="heading-medium">
            What is an approver?
        </h2>
        <p>You might have noticed the term ‘approver’ during your account creation.</p>
        <p>An approver is someone at your organisation responsible for controlling who has access to DfE Sign-in and the services within the system.</p>
        <p>It is usually a senior person, such as an administrator, manager, or headteacher. </p>
        <p>For security reasons, you will need the approval of your organisation’s approver before you can access services.</p>
        <h2 class="heading-medium">
            How can I find a relevant approver?
        </h2>
        <p>Once you add your organisation to your account, you can find a list of all recognised approvers under the <a href="<%=locals.urls.services%>/organisations">organisation</a> section of your DfE Sign-in account.</p>

        <% } %>
        <details>
            <summary><span class="summary">Still having problems?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you are still having problems, please <a href="/contact/submit?type=service-access&service=<%=locals.service.name%>">submit a support request</a>.</p>
            </div>
        </details>
    </div>
</div>
