<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Manage your users as an approver
        </h1>

        <p>As an approver you are responsible for controlling who has access to DfE Sign-in and the services within the system for your organisation.</p>

        <h2 class="heading-medium">
            What can I do as an approver?
        </h2>
        <ul class="list list-bullet">
            <li>invite new users to DfE Sign-in</li>
            <li>approve requests to your organisation</li>
            <li>add and remove user access to services</li>
            <li>edit permission levels</li>
        </ul>

        <h2 class="heading-medium">
            How do I add a user?
        </h2>
        <p>Here's how to invite new users to DfE Sign-in:</p>
        <ul class="list list-number">
            <li>From the <a href="<%=locals.urls.services%>/approvals/users">manage users</a> page, choose ‘invite new user’</li>
            <li>Fill in their details, such as their name and email address (you can also assign various services to them at this stage)</li>
            <li>An invite email will be sent out to your new user asking them to finish setting up their account</li>
        </ul>

        <h2 class="heading-medium">
            How can I see who has access to my organisation?
        </h2>
        <p>You can view all users with a DfE Sign-in account that are linked to your organisation from the <a href="<%=locals.urls.services%>/approvals/users">manage users</a> page.</p>
        <p>If you manage multiple organisations, you'll first be asked to choose which organisation you want to see users from.</p>
        <h2 class="heading-medium">
            How do I give a user access to services?
        </h2>
        <p>Here's how to add services to a user:</p>
        <ul class="list list-number">
            <li>From the <a href="<%=locals.urls.services%>/approvals/users">manage users</a> page, choose the required user</li>
            <li>From the righthand list, choose 'add services'</li>
            <li>Choose the services, roles and forms you'd like this user to access</li>
            <li>Save your changes</li>
        </ul>

        <h2 class="heading-medium">
            How do I add services to my own account?
        </h2>
        <p>Here's how to add services to yourself:</p>
        <ul class="list list-number">
            <li>From the <a href="<%=locals.urls.services%>/my-services">services</a> page, select 'add services' from the actions list</li>
            <li>Choose the services, roles and forms you'd like to access</li>
            <li>Save your changes</li>
        </ul>
        <h2 class="heading-medium">
            How do I become an approver?
        </h2>
        <p>An existing approver can make another user an approver by accessing that individual's account from <a href="<%=locals.urls.services%>/approvals/users">manage users</a> and changing their permission level.</p>
        
        <details>
            <summary><span class="summary">Not the answers you’re looking for?</span></summary>
            <div class="panel panel-border-narrow">
                <p>If you're still having problems or have a different question, please submit a <a href="/contact/submit?type=approver">support request</a> and we'll do our best to help.</p>
            </div>
        </details>
    </div>
</div>
