<% if (locals.validationMessages !== undefined) { %>
<% const validationKeys = Object.keys(locals.validationMessages)  %>
<% if (validationKeys.length > 0) { %>
<div class="error-summary" role="alert" aria-labelledby="error-summary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary">
        Information missing or incorrect
    </h2>
    <ul class="error-summary-list">
        <% for (const prop in locals.validationMessages) { %>
        <li><a href="#<%=prop%>"><%=locals.validationMessages[prop]%></a></li>
        <% } %>
    </ul>
</div>
<% } %>
<% } %>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Need help using this service?
        </h1>
        <p>To make a request to the DfE Sign-in service desk please fill in your details and include any information you think would be helpful for the service desk team.</p>
    </div>
    <div class="col-12">
        <form method="post" id="form-contact-servicedesk">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <fieldset>
                <legend class="vh">Service request for DfE Sign-in</legend>
                <div class="form-group <%= (locals.validationMessages.name !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="name">Name</label>
                    <% if (locals.validationMessages.name !== undefined) { %>
                    <p class="error-message" id="validation-name"><%=locals.validationMessages.name %></p>
                    <% } %>
                    <input class="form-control" id="name" name="name" type="text" <% if (locals.validationMessages.name !== undefined) { %> aria-invalid="true" aria-describedby="validation-name" <% } %> value="<%=name%>">
                </div>
                <div class="form-group <%= (locals.validationMessages.email !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="email">Email address </label>
                    <% if (locals.validationMessages.email !== undefined) { %>
                    <p class="error-message" id="validation-email"><%=locals.validationMessages.email %></p>
                    <% } %>
                    <input class="form-control" id="email" name="email" type="email" <% if (locals.validationMessages.email !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> value="<%=email%>">
                </div>
                <div class="form-group <%= (locals.validationMessages.phone !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="phone">Telephone number (optional) </label>
                    <% if (locals.validationMessages.phone !== undefined) { %>
                    <p class="error-message" id="validation-phone"><%=locals.validationMessages.phone %></p>
                    <% } %>
                    <input class="form-control" id="phone" name="phone" type="text" <% if (locals.validationMessages.phone !== undefined) { %> aria-invalid="true" aria-describedby="validation-phone" <% } %> value="<%=phone%>">
                </div>
                <div class="form-group">
                    <label class="form-label" for="service">Service or application you are using </label>
                    <select id="service" name="service" class="form-control select">
                        <option value="Analyse School Performance">Analyse School Performance</option>
                        <option value="Teacher Services">Teacher Services</option>
                        <option value="Key to Success">Key to Success</option>
                        <option value="Teaching Jobs">Teaching Jobs</option>
                        <option value="Find Postgraduate Teacher Training">Find Postgraduate Teacher Training</option>
                        <option value="Trainee Teacher Portal">Trainee Teacher Portal</option>
                        <option value="Publish Teacher Training Courses">Publish Teacher Training Courses</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="type">Type of issue </label>
                    <select id="type" name="type" class="form-control select">
                        <option value="Migration">I am unable to migrate my Secure Access account</option>
                        <option value="SA Username/Password">I can’t remember my Secure Access username or password</option>
                        <option value="Multiple Accounts">I have multiple accounts</option>
                        <option value="Accessing Services">I can’t access all the services I need to</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group <%= (locals.validationMessages.message !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="message">Request details </label>
                    <% if (locals.validationMessages.message !== undefined) { %>
                    <p class="error-message" id="validation-message"><%=locals.validationMessages.message %></p>
                    <% } %>
                    <textarea class="form-control" id="message" name="message" rows="6" maxlength="1000" <% if (locals.validationMessages.message !== undefined) { %> aria-invalid="true" aria-describedby="validation-message" <% } %>><%=message%></textarea>
                </div>
            </fieldset>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>
