<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Need help using this service?
        </h1>
        <p>To make a request to the DfE Sign-in service desk please fill in your details and include any information you think would be helpful for the service desk team.</p>
    </div>
    <div class="col-12">
        <form method="post" id="form-contact-servicedesk">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <fieldset>
                <legend class="vh">Service request for DfE Sign-in</legend>
                <div class="form-group <%= (locals.validationMessages.name !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="name">Name</label>
                    <% if (locals.validationMessages.name !== undefined) { %>
                    <p class="error-message" id="validation-name"><%=locals.validationMessages.name %></p>
                    <% } %>
                    <input class="form-control" id="name" name="name" type="text" <% if (locals.validationMessages.name !== undefined) { %> aria-invalid="true" aria-describedby="validation-name" <% } %> value="<%=name%>">
                </div>
                <div class="form-group <%= (locals.validationMessages.email !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="email">Email address </label>
                    <% if (locals.validationMessages.email !== undefined) { %>
                    <p class="error-message" id="validation-email"><%=locals.validationMessages.email %></p>
                    <% } %>
                    <input class="form-control" id="email" name="email" type="email" <% if (locals.validationMessages.email !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> value="<%=email%>">
                </div>
                <div class="form-group <%= (locals.validationMessages.orgName !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="orgName">Organisation name (optional) </label>
                    <% if (locals.validationMessages.orgName !== undefined) { %>
                    <p class="error-message" id="validation-orgName"><%=locals.validationMessages.orgName %></p>
                    <% } %>
                    <input class="form-control" id="orgName" name="orgName" type="text" <% if (locals.validationMessages.orgName !== undefined) { %> aria-invalid="true" aria-describedby="validation-orgName" <% } %> value="<%=orgName%>">
                </div>
                <div class="form-group <%= (locals.validationMessages.urn !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="urn">URN (optional) </label>
                    <% if (locals.validationMessages.urn !== undefined) { %>
                    <p class="error-message" id="validation-urn"><%=locals.validationMessages.urn %></p>
                    <% } %>
                    <input class="form-control" id="urn" name="urn" type="text" <% if (locals.validationMessages.urn !== undefined) { %> aria-invalid="true" aria-describedby="validation-urn" <% } %> value="<%=urn%>">
                </div>
                <div class="form-group <%= (locals.validationMessages.phone !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="phone">Telephone number (optional) </label>
                    <% if (locals.validationMessages.phone !== undefined) { %>
                    <p class="error-message" id="validation-phone"><%=locals.validationMessages.phone %></p>
                    <% } %>
                    <input class="form-control" id="phone" name="phone" type="text" <% if (locals.validationMessages.phone !== undefined) { %> aria-invalid="true" aria-describedby="validation-phone" <% } %> value="<%=phone%>">
                </div>

                <div class="form-group <%= (locals.validationMessages.type !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="type">What do you need help with? </label>
                    <% if (locals.validationMessages.type !== undefined) { %>
                    <p class="error-message" id="validation-service"><%=locals.validationMessages.type %></p>
                    <% } %>
                    <select id="type" name="type" class="form-control select">
                        <option disabled selected value>Select what you need help with</option>
                        <option value="create-account" <%= locals.type === 'create-account' ? 'selected' : '' %>>Setting up a DfE Sign-in account</option>
                        <option value="service-access" <%= locals.type === 'service-access' ? 'selected' : '' %>>Using a DfE service</option>
                        <option value="email-password" <%= locals.type === 'email-password' ? 'selected' : '' %>>Changing my email or password</option>
                        <option value="approver" <%= locals.type === 'approver' ? 'selected' : '' %>>Managing my users as an approver</option>
                        <option value="add-org" <%= locals.type === 'add-org' ? 'selected' : '' %>>Adding organisations to your account</option>
                        <option value="course-directory" <%= locals.type === 'course-directory' ? 'selected' : '' %>>Accessing Publish to the course directory</option>
                        <option value="Other" <%=locals.type === 'Other' ? 'selected' : ''%>>Other</option>
                    </select>
                </div>

                <div class="form-group <%= (locals.validationMessages.service !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="service">What service were you trying to use?</label>
                    <% if (locals.validationMessages.service !== undefined) { %>
                    <p class="error-message" id="validation-service"><%=locals.validationMessages.service %></p>
                    <% } %>
                    <select id="service" name="service" class="form-control select">
                        <option disabled selected value>Select a service</option>
                        <% for (let i = 0; i < locals.services.length; i++) {
                        const service = locals.services[i]; %>
                        <option value="<%= service.name %>"<%=locals.service === service.name ? 'selected' : ''%>><%= service.name %></option>
                        <% } %>
                        <option value="Other" <%=locals.service === 'Other' ? 'selected' : ''%>>Other</option>
                    </select>
                </div>
                <div class="form-group <%= (locals.validationMessages.message !== undefined) ? 'form-group-error' : '' %>">
                    <label class="form-label" for="message">Request details </label>
                    <% if (locals.validationMessages.message !== undefined) { %>
                    <p class="error-message" id="validation-message"><%=locals.validationMessages.message %></p>
                    <% } %>
                    <textarea class="form-control" id="message" name="message" rows="6" maxlength="1000" <% if (locals.validationMessages.message !== undefined) { %> aria-invalid="true" aria-describedby="validation-message" <% } %>><%=message%></textarea>
                </div>
            </fieldset>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>
