<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign-in help
        </h1>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <div class="form-group <%= (locals.validationMessages.service !== undefined) ? 'form-group-error' : '' %>">
                <fieldset>
                    <legend><h2 class="heading-medium">Which service are you trying to access?</h2></legend>
                    <% if (locals.validationMessages.service !== undefined) { %>
                    <p class="error-message" id="validation-service"><%=locals.validationMessages.service %></p>
                    <% } %>

                    <% for (let i = 0; i < locals.services.length; i++) {
                    const service = locals.services[i];%>
                    <div class="multiple-choice">
                        <input id="<%= service.id %>" type="radio" name="selectedService" value="<%=service.id  %>,<%=service.name%>">
                        <label for="<%=service.id  %>,<%=service.name%>"> <%= service.name %> </label>
                    </div>
                    <% } %>
                    <div class="multiple-choice">
                        <input id="other" type="radio" name="selectedService" value="other">
                        <label for="other">Other</label>
                    </div>
                </fieldset>
            </div>

            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Continue</button>
            </div>
        </form>

    </div>
</div>
