<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign-in help
        </h1>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <div class="form-group <%= (locals.validationMessages.service !== undefined) ? 'form-group-error' : '' %>">
                <label for="select-service" class="vh">Which service are you trying to use?</label>
                <legend><h2 class="heading-medium">Which service are you trying to access?</h2></legend>
                <% if (locals.validationMessages.service !== undefined) { %>
                <p class="error-message" id="validation-service"><%=locals.validationMessages.service %></p>
                <% } %>
                <select class="form-control full-width" id="select-service" name="selectedService">
                    <option disabled selected>Please select a service</option>
                    <% for (let i = 0; i < locals.services.length; i++) {
                    let service = locals.services[i];%>
                        <option value="<%=service.id%>"><%=service.name%></option>
                    <% } %>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Continue</button>
            </div>
        </form>

    </div>
</div>
