<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign-in help
        </h1>

        <p>In order to use <b><%=locals.service.name%></b> you will need a <a href="<%=locals.service.id%>/create-account">DfE Sign-in account</a>.</p>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <div class="form-group <%= (locals.validationMessages.selectedServiceHelp !== undefined) ? 'form-group-error' : '' %>">
                <fieldset>
                    <% if (locals.validationMessages.selectedServiceHelp !== undefined) { %>
                    <p class="error-message" id="validation-selected-help"><%=locals.validationMessages.selectedServiceHelp %></p>
                    <% } %>

                    <legend style="margin-bottom: 1.25em">If you already have a DfE Sign-in account please select from the following:</legend>
                    <div class="multiple-choice">
                        <input id="add-service" type="radio" name="selectedServiceHelp" value="add-service">
                        <label for="add-service">I need <b><%=locals.service.name%></b> added to my account</label>
                    </div>

                    <div class="multiple-choice">
                        <input id="verification-email" type="radio" name="selectedServiceHelp" value="verification-email">
                        <label for="verification-email">I have not received a verification email</label>
                    </div>

                    <div class="multiple-choice">
                        <input id="error" type="radio" name="selectedServiceHelp" value="error">
                        <label for="error">I have received an error when trying to access <b><%= locals.service.name %></b></label>
                    </div>
                </fieldset>
            </div>
            <div class="form-submit">
                <button class="button">Continue</button>
            </div>
        </form>
    </div>
</div>
